@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url("/to-do-list/public/MacBook wallpaper.jpg");
}

body {
  --tw-bg-opacity: 1;
  background-color: #9ba8ab;
}
